:root {
    --trip-orange: #ff4200;
    --trip-gray: #888;
    --secondary-text-color: #555555;
    --outer-background-color: #fefefe;
    --page-background-color: #f5f5f5;
    --page-border-color: #eee;
    --box-shadow-color: #aaa;
    --disabled-trip-orange: #ff7b4d;
}

body html {
    padding: 0;
    margin: 0 !important;
}

div, input, button {
    font-family: 'Quicksand', sans-serif;
}

.inline-avatar {
    max-height: 2rem;
    max-width: 2rem;
    border: 1px var(--box-shadow-color) solid;
    border-radius: 100%;
    position: relative;
    display: inline;
    vertical-align: middle;
}

.block-avatar {
    height: 2rem;
    width: 2rem;
    border: 2px var(--box-shadow-color) solid;
    border-radius: 100%;
    display: inline-block;
    margin: 3px;
}
.people-button, .people-button-loading{
    height: 2rem;
    width: 3rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin: 3px;
    background-color: var(--trip-orange);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    border: 0;
}
.people-button-loading{
    box-sizing: border-box;
    padding: 0.2rem 0.7rem;
}

textarea:focus, input:focus {
    outline-color: var(--trip-orange);
}

::selection {
    background: #ffa; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffa; /* Gecko Browsers */
}

.horizontal-list {
    display: flex;
    flex-direction: row;
}

.fit-center {
    width: fit-content;
    margin: 0 auto;
}

.logo-span img {
    max-height: 1.8rem;
    max-width: 1.8rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.logo-span span {
    line-height: 1.5rem;
    vertical-align: middle;
    display: inline-block;
}

a, .pretend-link {
    color: var(--secondary-text-color);
    cursor: pointer;
    text-decoration: none;
}

a:hover, .pretend-link:hover {
    color: var(--trip-orange);
}

@media screen and (max-width: 650px) {
    .not-on-small-screen {
        display: none;
    }
}

::placeholder {
    color: var(--trip-orange);
    opacity: 0.3;
}

.svg-inline--fa {
    width: 1em;
    height: 1em;
    display: inline;
}

.loading-cover {
    width: 100vw;
    height: 100vh;
    z-index: 999 !important;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--trip-orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.failed {
    font-size: 1.2rem;
    font-weight: bold;
}

.failed > p:nth-child(2) {
    margin-left: 1rem;
    color: var(--trip-orange);
    font-size: 1rem;
}

.form-title > img {
    max-height: 1.2em;
    max-width: 1.2em;
    padding-right: 0.5rem;
    position: relative;
    top: 0.2em;
}

button:focus {
    outline-color: var(--trip-orange);
}

.center-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.links-container {
    position: relative;
    top: 15%;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}