.form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 4.5rem;
    justify-content: space-between;
}

.form input {
    font-size: 1.25rem;
    padding: 10px;
    border: var(--trip-orange) solid 1px;
    margin-bottom: 4px;
}

.enabledLink, .disabledLink {
    background-color: var(--trip-orange);
    font-size: 1.25rem;
    color: white;
    padding: 3px;
}
.enabledLink {
    cursor: pointer;
}

.disabledLink {
    cursor: none;
    pointer-events: none;
}

.enabledLink:hover, .disabledLink:hover{
    color: white;
}

.occupyAlert{
    font-size: 0.7rem;
    color: rgb(255,50, 0);
}