.travelCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-width: 10rem;
}

.travelTitle{
    font-weight: bold;
}

.time{
    color: var(--trip-orange);
    display: flex;
    flex-direction: column
}
.time>span>span {
    margin-left: 0.5rem;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.options span {
    padding: 0 0.2rem;
}

.noteCard{
    color: var(--trip-gray);
}