.container {
    overflow-y: auto;
    overflow-x: hidden;
}

.slide {
    height: calc(88vh);
    width: 100%;
    box-sizing: border-box;
    position: relative;
    outline: solid #eee 2px;
}

@media screen and (max-width: 700px) {
    .container {
        scroll-snap-type: y mandatory;
    }
    .slide {
        height: calc(100vh - 3em);
        scroll-snap-align: center;
    }
}

@media screen and (min-width: 700px){
    .container > div:nth-child(2) {
         background-color: #efefef;
     }
    .container > div:nth-child(3) {
        background-color: #e1e1e1;
    }


}

